body {
    background-color: rgb(190, 126, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}.kotak {
    font-family: sans-serif;
    background-color: rgba(244, 244, 244, 0.434);
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
}main input {
    border-radius: 5px;
    height: 20px;
    border-style: none;
    transition: all 0.2s ease;
    width: 100%;
    padding: left 35px !important;
    
}main input:focus {
    background-color: rgba(47, 47, 2, 0.392);
    outline: none;
}
main p {
    align-self: flex-end;
    margin-top: 0;
}footer {
    display: flex;
    flex-direction: column;
}footer button {
    background-color: blue;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}button:hover {
    background-color: rgb(19, 19, 176);
}.usr {
    display: flex;
    gap: 10px;
}.pw {
    display: flex;
    gap: 10px;
    
}